@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200&display=swap");

h1 {
  color: green;
}

.backgroundDiv {
  font-family: "Raleway", sans-serif;
  background-image: url("../../assets/moroccan-flower.png");
  margin: auto;
}

.ultimateImageHover.hover {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.ulNavbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.liNavBar {
  float: left;
}

.navBarLinkDisplay {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navBarLinkHover:hover {
  background-color: black;
}

.container {
  border: 5px solid black;
  font-family: "Raleway", sans-serif;
  background-image: url("../../assets/moroccan-flower.png");
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.container div {
  margin: 10px;
  text-align: center;
  font-size: 2em;
  color: white;
}


.headtext {
    font-family: "Raleway", sans-serif;
    text-decoration: solid;
    text-shadow: 2px 2px 5px red;
    font-weight: 500;
    font-size: larger;
    text-align: center;
}