<ul class="ulNavbar">
  <li class="liNavBar">
    <a class="navBarLinkDisplay navBarLinkHover" href="#home">Home</a>
  </li>
  <li class="liNavBar">
    <a class="navBarLinkDisplay navBarLinkHover" href="#news">News</a>
  </li>
  <li class="liNavBar">
    <a class="navBarLinkDisplay navBarLinkHover" href="#contact">Contact</a>
  </li>
  <li class="liNavBar" style="float: right">
    <a class="navBarLinkDisplay active navBarLinkHover" href="#about">About</a>
  </li>
</ul>
<div class="headtext">Enter or press something</div>
<div class="container">
  <div>
    <button type="button" class="btn btn-success">Start</button>
  </div>
  <div>
    <button type="button" class="btn btn-danger">End</button>
  </div>
</div>